@use '../helpers' as *;

.burger-button {
    --buttonLineColor: var(--color-light);

    border: none;
    background-color: transparent;
    padding: 0;

    width: rem(24);
    height: rem(24);
    display: flex;
    flex-direction: column;
    row-gap: rem(5);
    align-items: end;
    justify-content: center;
    position: relative;
    z-index: 200;

    @include hover {
        --buttonLineColor: var(--color-accent);
    }

    &.is-active {
        .burger-button__line {
            &:nth-child(2) {
                @include hide;
            }

            &:first-child {
                rotate: 45deg;
                transform-origin: 0;
                translate: rem(0) rem(1);
            }

            &:last-child {
                rotate: -45deg;
                transform-origin: 0;
            }
        }
    }

    &__line {
        width: 75%;
        height: rem(2);
        background-color: var(--buttonLineColor);
        transition-duration: var(--transition-duration);

        @include hover {
            
        }

        &:nth-child(2) {
            width: 50%;
        }
    }
}