@use '../helpers' as *;

.lawyers {
    background-color: var(--background-color) !important;
    
    &__list {
        display: flex;
        column-gap: rem(24);

        @include laptop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: rem(24);
        }

        @include mobile-l {
            grid-template-columns: 1fr;
        }
    }
}