@font-face {
    font-family: 'Nunito Sans';
    src: url(../../UI/fonts/NunitoSans-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(../../UI/fonts/NunitoSans-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(../../UI/fonts/NunitoSans-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(../../UI/fonts/NunitoSans-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(../../UI/fonts/NunitoSans-ExtraBold.woff2) format("woff2");
    font-weight:  800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(../../UI/fonts/NunitoSans-Black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}